// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/

  .load {
    color: green;
  }

  .toast{

    min-width: 250px;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    bottom: -30px;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

  /*Alert App end*/
  .my-custom-class .alert-head {
    background-color: #4CAF50;
    height: 100%;
  }
 .my-custom-class .alert-message {
    font-size: 20px;
    text-align: center;
    margin-top: 22px;
    font-family: Bahnschrift;
  }
 .my-custom-class .alert-button {
    font-family: Bahnschrift;
    font-size: 14px;
    background-color: #ffffff;
    align-items: center;
  }
 .my-custom-class .alert-title {
    color: white;
    text-align: center;
    margin-bottom: 5px;
    font: bolder;
    font-family: Bahnschrift;
  }
 .my-custom-class .alert-subTitle {
  font-family: Bahnschrift;
  }
  /*-----------------------------*/
  .alert-danger .alert-head {
    background-color: #4CAF50;
    height: 100%;    
  }

  .alert-danger .alert-message {
    font-size: 20px;
    text-align: center;
    margin-top: 22px;
    font-family: Bahnschrift;
  }
 .alert-danger .alert-button {
    font-family: Bahnschrift;
    font-size: 14px;
    background-color: #ffffff;
    align-items: center;
  }
 .alert-danger .alert-title {
    color: white;
    text-align: center;
    margin-bottom: 5px;
    font: bolder;
    font-family: Bahnschrift;
  }
 .alert-danger .alert-subTitle {
  font-family: Bahnschrift;
  }
  /*----------------------*/
  .my-class .alert-head {
    background-color: #4CAF50;
    height: 100%;    
  }
 .my-class .alert-message {
    font-size: 20px;
    text-align: center;
    margin-top: 22px;
    font-family: Bahnschrift;
  }
 .my-class .alert-button {
    font-family: Bahnschrift;
    font-size: 14px;
    background-color: #ffffff;    
    align-items: center;
  }
 .my-class .alert-title {
    color: white;
    text-align: center;
    margin-bottom: 5px;
    font: bolder;
    font-family: Bahnschrift;
  }
 .my-class .alert-subTitle {
  font-family: Bahnschrift;
  }
  /*Alert App end*/

  .camara{

    --background: #ffffff;
    ion-header {
      color: var(--ion-color-success);
    }

    color: #4CAF50;
    ion-icon {
      color: #4CAF50;
    }
    font-family: Bahnschrift;
    ion-text {
      color: var(--ion-color-warning);
      font-size: 20px;
      
    }
    font-size: 18px;

  }
  .galeria{
    color: var(--ion-color-warning);
    ion-icon {
      color: var(--ion-color-warning-shade);
    }
    ion-text {
      color: var(--ion-color-warning);
      font-size: 20px;
      font-family: Bahnschrift;
    }
    font-size: 18px;

  }

  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}
